# Functional Programming

Declarative not Imperative. Il modo di programmare in analisi dei dati.

(tutti i dati vengono processati ogni riga)

## Tertiary Function

Schema base:

`variabile_successiva = valore_true if condition else valore_false`

In [ ]:
## Vecchio stile
def azzera_o_raddoppia(n):
  # questa funzione ritorna il valore raddoppiato quando il valore è pari, azzera il valore se è dispari.
  if n % 2 == 0:
    n = n * 2
  else:
    n = 0
  return n * 2 if n % 2 == 0 else 0

print('n = 5, risultato = ', azzera_o_raddoppia(5))

n = 5, risultato =  0

In [ ]:
## Da adesso in poi
n = 5
print('n = 5, risultato = ', n * 2 if n % 2 == 0 else 0)

n = 5, risultato =  0

Stessa cosa, ma la mentalità è differente. Nel primo esempio si passa linea per linea un valore, nel secondo la variabile potrebbe essere una lista o un'altra variabile strutturata e si processerebbe tutto insieme ugualmente.

## Comprehension Lists

Comprehension Lists sono un modo per processare tutta la lista scrivendo una sola linea.

### Filtro

Schema:



```
lista_finale = [valore for valore in lista_iniziale if condizione_sul_valore]
```

In [ ]:
lista = list(range(10))
print('Lista iniziale: ', lista)

solo_num_pari = [n for n in lista if n % 2 == 0]
print('Lista filtrata: ', solo_num_pari)

# Prova a cambiare il codice per ottenere il quadrato dei numeri invece che il numero stesso.

Lista iniziale:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Lista filtrata:  [0, 2, 4, 6, 8]

In [ ]:
# Condizione sulla posizione

lista = list(range(10))
print('Lista iniziale: ', lista)

solo_ultimi_3_valori = [n for i, n in enumerate(lista) if i >= len(lista)-3]
print('Lista filtrata: ', solo_ultimi_3_valori)

# Prova a cambiare il codice per ottenere i primi tre valori. 
# Poi prova a ottenere quelli di mezzo tranne i primi tre e gli ultimi tre.

Lista iniziale:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Lista filtrata:  [7, 8, 9]

### Manipolazione

Schema: 



```
lista_finale = [valore_true if condizione_su_valore else valore_false for valore in lista_iniziale]
```

In [ ]:
lista = list(range(10))
print('Lista iniziale: ', lista)

lista_quadra = [ n ** 2 for n in lista]

dispari_a_zero = [n if n % 2 == 0 else 0 for n in lista ]
print('Lista modificata: ', dispari_a_zero)

# Prova a cambiare il codice per ottenere il triplo dei numeri invece che il numero stesso.

Lista iniziale:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Lista modificata:  [0, 0, 2, 0, 4, 0, 6, 0, 8, 0]

In [ ]:
lista = [2, 3, 89, 1]
# della lis, ta se i valori sono nella prima metà della lista, raddoppia, altrimenti dimezza
[n * 2 if i < len(lista) / 2 else n / 2 for i, n in enumerate(lista)]

[4, 6, 44.5, 0.5]

### Manipolazione con filtro

Schema:



```
lista_finale = [valore_true if condizione_su_valore else valore_false for valore in lista_iniziale if condizione_sul_valore]
```


```
# Questo è formattato come codice
```

In [ ]:
lista = list(range(20))
print('Lista iniziale: ', lista)

dispari_a_zero_se_multipli_di_3 = [n if n % 2 == 0 else 0 for n in lista if n % 3 == 0]
print('Lista modificata: ', dispari_a_zero_se_multipli_di_3)

# Prova a cambiare il codice per ottenere il terzo dei numeri in int invece che il numero stesso.

### Nested lists

Pre manipolare le liste nelle liste.

Schema:



```
lista_finale = [valore for lista_dentro in lista_fuori for valore in lista_dentro]
```

In [ ]:
nested = [[1, 2, 3],[4, 5, 6, 7], [9]]
print('Lista iniziale: ', nested)

lista_piatta = [v for lista_dentro in nested for v in lista_dentro ]
print('lista_piatta: ', lista_piatta)

Lista iniziale:  [[1, 2, 3], [4, 5, 6, 7], [9]]
lista_piatta:  [1, 2, 3, 4, 5, 6, 7, 9]

## Esercizi

In [ ]:
# Data la lista delle temperature in Celsius, trasformarla in Fahrenheit. Formula su Google ;)

temp = [27, 28, 32, 12, 24, 25, 33, 10, 9, 8, 20]
print('Temp in Celsius: ', temp)

temp_far = [(n*9/5+32)for n in temp]  # completa qui
print('Temp in Fahrenheit: ', temp_far)

Temp in Celsius:  [27, 28, 32, 12, 24, 25, 33, 10, 9, 8, 20]
Temp in Fahrenheit:  [80.6, 82.4, 89.6, 53.6, 75.2, 77.0, 91.4, 50.0, 48.2, 46.4, 68.0]

### Additional Exercises

In [ ]:
lst = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Crea una lista che abbia tutti i valori di lst, ma al quadrato.
lst_sq = [n**2 for n in lst]
print(lst_sq)

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [ ]:
### Utilizza comprehension lists per costriure una lista che abbia solo i valori pari di lst.
lst = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
pari_ls=[n for n in lst if n % 2 == 0]
print(pari_ls)

[4, 16, 36, 64, 100]

In [ ]:
### Utilizza comprehension lists per costriure una lista che abbia i seguenti valori [2, 8, 18, 32, 50]. Cerca di capire come li ho ottenuti e 
###poi fai lo stesso con la programmazione.
rng=range(1,6)
lst=[n**2*2 for n in rng]
print(lst)

[2, 8, 18, 32, 50]

In [ ]:
### Utilizza comprehension lists per costriure una lista che abbia i seguenti valori [1, 2, 9, 8, 25, 18, 49, 32, 81, 50]. Cerca di capire 
# come li ho ottenuti e poi fai lo stesso 
### con la programmazione.
rng=list(range(1,10))
nva =[]
for n in rng:
  if n%2==1:
    nva += [n**2]
  if n<6:
    nva += [n**2*2]
print(nva)

#non sono riuscita a risolvere con list comprehension

[1, 2, 8, 9, 18, 32, 25, 50, 49, 81]

In [ ]:
rng=list(range(1,10))
nva =[]
for n in rng:
  if n%2==1:
    nva += [n**2]
  if n<6:
    nva += [n**2*2]
print(nva)

#[1, 9, 25, 49, 81]

[1, 2, 8, 9, 18, 32, 25, 50, 49, 81]

In [ ]:
rng=list(range(1,10))
nva_impar =[n**2 for n in rng if n%2==1]
nva =[n**2*2 for n in rng if n<6]
total = list(zip(nva_impar, nva))
print(total)

[(1, 2), (9, 8), (25, 18), (49, 32), (81, 50)]

In [ ]:
rng=list(range(1,10))
nva_impar =[n**2 for n in rng if n%2==1]
nva =[n**2*2 for n in rng if n<6]

total = list(zip(nva_impar, nva))
total_final = []
for n in total:
  total_final += n
print(total_final)

[1, 2, 9, 8, 25, 18, 49, 32, 81, 50]

In [ ]:
#variazioni grafiche
rng=list(range(1,10))
nva =[]
for n in rng:
  if n%2==1:
    nva += [n**2]
  if n<6:
    nva += [n**2*2]
for n in nva:
  print(n*'/')
for u in reversed(nva):
  print(u*'\\')
  
print(nva)

/
//
////////
/////////
//////////////////
////////////////////////////////
/////////////////////////
//////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\
\\\\\\\\\
\\\\\\\\
\\
\
[1, 2, 8, 9, 18, 32, 25, 50, 49, 81]

In [ ]:
#Con List comprehension:
rng=list(range(1,10))
nva =[(n**2*2) if n<6  else n**2 for n in rng  if n%2==1]
#[n if n % 2 == 0 else 0 for n in lista if n % 3 == 0]

print(nva)

[2, 18, 50, 49, 81]

In [ ]:
str_lst = ['Michele', ' Gianni         ', ' Andrè'                               , " qualcun'altro"]
dep_lst = [item.strip() for item in str_lst]
#dep_lst = [item for item if item[0] == ' ']


print(dep_lst)
## Crea una lista che abbia le stringhe di str_lst ma, quando la stringa comincia con uno spazio, lo spazio viene tolto.

['Michele', 'Gianni', 'Andrè', "qualcun'altro"]

In [ ]:
## Crea una lista che abbia solo i valori di str_lst con i nomi. Dovrebbe venire ['Michele', ' Gianni', 'Andrè']. 
#Puoi fare più passaggi diversi con comprehension lists.
str_lst = ['Michele', ' Gianni         ', ' Andrè', " qualcun'altro"]
dep_lst = [item.strip() for item in str_lst]
#print(dep_lst)
solo_nomi = []
for nome in dep_lst:
  if nome.isidentifier():
    solo_nomi+=[nome]
print(solo_nomi)

['Michele', 'Gianni', 'Andrè']

con list Comp...

In [ ]:
## Crea una lista che abbia solo i valori di str_lst con i nomi. Dovrebbe venire ['Michele', ' Gianni', 'Andrè']. 
#Puoi fare più passaggi diversi con comprehension lists.
#from https://docs.python.org/3.1/reference/lexical_analysis.html#identifiers

str_lst = ['Michele', ' Gianni         ', ' Andrè', " qualcun'altro"]
dep_lst = [item.strip() for item in str_lst]
#print(dep_lst)
solo_nomi = [nome for nome in dep_lst if nome.isidentifier()]

print(solo_nomi)

['Michele', 'Gianni', 'Andrè']

In [ ]:
## Crea una lista con i valori di str_lst che quando il valore non è un nome sostituisce con ''. Dovrebbe venire 
#['Michele', ' Gianni', 'Andrè', '']. 
## Puoi fare più passaggi diversi con comprehension lists.
str_lst = ['Michele', ' Gianni         ', ' Andrè', " qualcun'altro"]
dep_lst = [item.strip() for item in str_lst]
#print(dep_lst)
solo_nomi = []
for nome in dep_lst:
  if nome.isidentifier():
    solo_nomi += [nome]
  else: 
    solo_nomi+=[nome.replace(nome, '')]
print(solo_nomi)

###############Continuazione list comprehension

['Michele', 'Gianni', 'Andrè', '']

In [ ]:
################con list comprehension:
str_lst = ['Michele', ' Gianni         ', ' Andrè', " qualcun'altro"]
dep_lst = [item.strip() for item in str_lst]
solo_nomi = [nome if nome.isidentifier() else nome.replace(nome, '') for nome in dep_lst ]
print(solo_nomi)
##################ripaso di list comprehension ### Manipolazione con filtro
#lista_finale = [valore_true if condizione_su_valore else valore_false for valore in lista_iniziale if condizione_sul_valore]

['Michele', 'Gianni', 'Andrè', '']

* Trova tutti i numeri da 1 a 100 che sono divisibili per 7.

* Trova tutti i numeri da 1 a 100 che contengono un 3.

* Creare una lista di tutte le consonanti in "di me medesmo meco mi vergogno e del mio vaneggiar vergogna è 'l frutto".

* Creare una lista con tutti i numeri in "decise di entrare in guerra il 24 maggio 1915. Il comando dell'esercito venne affidato al generale Luigi Cadorna, che aveva come obiettivo il raggiungimento di Vienna passando per Lubiana.[4] All'alba del 24 maggio il Regio Esercito sparò il primo colpo di cannone contro le postazioni austro-ungariche asserragliate a Cervignano del Friuli che, poche ore più tardi, divenne la prima città conquistata. All'alba dello stesso giorno la flotta austro-ungarica bombardò la stazione ferroviaria di Manfredonia; alle 23:56, bom"

* (Interview Question) Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”.

Trova tutti i numeri da 1 a 100 che sono divisibili per 7.

In [ ]:
seq = list(range(1,101))
#print(seq)
div_x_7 = [n for n in seq if n % 7 == 0]
print(div_x_7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

Trova tutti i numeri da 1 a 100 che contengono un 3.

In [ ]:
#####1.Tentativo di trovare i numeri con 3
#print("e" in "blueberry")
seq = list(range(1,15))
str_seq = str (seq)
new_list = []
print(str_seq)
for s in str_seq:
  if s in '3':
    new_list += [s]

['r', 'a', 'n', 'g', 'e', '(', '1', ',', ' ', '1', '5', ')']

In [ ]:
##QUESTO è OTTIMO, usando il metodo find()
#seq = list (#)
#print(type(seq[1]))


#str_seq = str(num)
#print(str_seq[2])
new_list = []
#print(seq)
#for s in str_seq:
for s in range(1,105):
  s_str = str(s)
  #if s[0] == "3" or s[-1]== "3":
  if s_str.find("3") != -1:  
    new_list += [s ]
  #print(s_str.find("3"))    #c'è un 3:
#print(s_str.find("3"))
print(new_list)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103]

In [ ]:
new_list = [s for s in range(1,105) if str(s).find("3") != -1]
print(new_list)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103]

In [ ]:
## funziona solo se inserisco i numeri come caratteri anzi che numeri convertiti a stringa
tex = ["3", "23", "13", "43", "25", "17"]

for item in tex:
  if item[0] == "3" or item[-1] == "3":
    print(item)

3
23
13
43

In [ ]:
#####.Tentativo dello stesso essercizio ma con stringa
tex = ["g", "jgl", "opg"]

for item in tex:
  if item[0] == "g" or item[1]=="g":
    print(item)

g
jgl

In [ ]:
#####2.Tentativo di trovare i numeri con 3
def any(rng):
  ls = []
  for i in rng:
    if i == 3:
      ls += [i]
    else:
      ls += [0]
  return ls
print(any(list(range(1,15))))

[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Creare una lista di tutte le consonanti in "di me medesmo meco mi vergogno e del mio vaneggiar vergogna è 'l frutto".

In [ ]:
text = "di me medesmo meco mi vergogno e del mio vaneggiar vergogna è 'l frutto"
#nested_list= [valore for lista_dentro in lista_fuori for valore in lista_dentro]
            
#print(lis_text)

#list comprehension anidado para sacar caracteres sueltos dentro de cada palabra dentro del texto
cons = 'bcdfghjklmnpqrstvwxyz'
letters = [plb for palabra in text.split() for plb in palabra if plb in cons]
print(str('he aqui la lista de consonantes'), list(letters))


# funcion para filtrar consonantes:
#def filter_cons(letters):
  #cons = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't','v', 'w', 'x', 'y', 'z']
  #cons = 'bcdfghjklmnpqrstvwxyz'
 # vocales = ['a', 'b', 'c', 'o', 'u']
  #return True if(letters in cons) else False
    #return True
 # else:
 #   return False

#filtered_cons = filter(filter_cons, letters)
#print(str('he aqui la lista de consonantes'), list(filtered_cons))

#Todo esto que sigue lo simplifico mas abajo con una list comprehension:
#lst_cons = [cons for cons in filtered_cons]
#lst_cons = []
#print('Las consonantes filtradas son:')
#for cons in filtered_cons:
#  lst_cons += [cons]
#print(str ('He aqui la lista de consonantes'), list(lst_cons))
#text = "di me medesmo meco mi vergogno e del mio vaneggiar vergogna è 'l frutto"

he aqui la lista de consonantes ['d', 'm', 'm', 'd', 's', 'm', 'm', 'c', 'm', 'v', 'r', 'g', 'g', 'n', 'd', 'l', 'm', 'v', 'n', 'g', 'g', 'r', 'v', 'r', 'g', 'g', 'n', 'l', 'f', 'r', 't', 't']

Creare una lista con tutti i numeri in "decise di entrare in guerra il 24 maggio 1915. Il comando dell'esercito venne affidato al generale Luigi Cadorna, che aveva come obiettivo il raggiungimento di Vienna passando per Lubiana.[4] All'alba del 24 maggio il Regio Esercito sparò il primo colpo di cannone contro le postazioni austro-ungariche asserragliate a Cervignano del Friuli che, poche ore più tardi, divenne la prima città conquistata. All'alba dello stesso giorno la flotta austro-ungarica bombardò la stazione ferroviaria di Manfredonia; alle 23:56, bom"

In [ ]:
text =  """decise di entrare in guerra il 24 maggio 1915. Il comando dell'esercito venne affidato al generale Luigi Cadorna, 
che aveva come obiettivo il raggiungimento di Vienna passando per Lubiana.[4] All'alba del 24 maggio il Regio Esercito sparò 
il primo colpo di cannone contro le postazioni austro-ungariche asserragliate a Cervignano del Friuli che, poche ore più tardi, 
divenne la prima città conquistata. All'alba dello stesso giorno la flotta austro-ungarica bombardò la stazione ferroviaria di Manfredonia; 
alle 23:56, bom"""

text_lst = text.split()


  print(string.digits) 
#print(filter)
#word.digits

In [ ]:
text =  """decise di entrare in guerra il 24 maggio 1915. Il comando dell'esercito venne affidato al generale Luigi Cadorna, 
che aveva come obiettivo il raggiungimento di Vienna passando per Lubiana.[4] All'alba del 24 maggio il Regio Esercito sparò 
il primo colpo di cannone contro le postazioni austro-ungariche asserragliate a Cervignano del Friuli che, poche ore più tardi, 
divenne la prima città conquistata. All'alba dello stesso giorno la flotta austro-ungarica bombardò la stazione ferroviaria di Manfredonia; 
alle 23:56, bom"""

 #filtro = int(filter(text.isdigit, text))
 #print(filtro)
#


list_text = text.split()
print(list_text)
solo_num = []
for cha in list_text:
  if cha.isdecimal():
    solo_num += [cha]
print(solo_num)

['decise', 'di', 'entrare', 'in', 'guerra', 'il', '24', 'maggio', '1915.', 'Il', 'comando', "dell'esercito", 'venne', 'affidato', 'al', 'generale', 'Luigi', 'Cadorna,', 'che', 'aveva', 'come', 'obiettivo', 'il', 'raggiungimento', 'di', 'Vienna', 'passando', 'per', 'Lubiana.[4]', "All'alba", 'del', '24', 'maggio', 'il', 'Regio', 'Esercito', 'sparò', 'il', 'primo', 'colpo', 'di', 'cannone', 'contro', 'le', 'postazioni', 'austro-ungariche', 'asserragliate', 'a', 'Cervignano', 'del', 'Friuli', 'che,', 'poche', 'ore', 'più', 'tardi,', 'divenne', 'la', 'prima', 'città', 'conquistata.', "All'alba", 'dello', 'stesso', 'giorno', 'la', 'flotta', 'austro-ungarica', 'bombardò', 'la', 'stazione', 'ferroviaria', 'di', 'Manfredonia;', 'alle', '23:56,', 'bom']
['24', '24']

In [ ]:
text =  """decise di entrare in guerra il 24 maggio 1915. Il comando dell'esercito venne affidato al generale Luigi Cadorna, 
che aveva come obiettivo il raggiungimento di Vienna passando per Lubiana.[4] All'alba del 24 maggio il Regio Esercito sparò 
il primo colpo di cannone contro le postazioni austro-ungariche asserragliate a Cervignano del Friuli che, poche ore più tardi, 
divenne la prima città conquistata. All'alba dello stesso giorno la flotta austro-ungarica bombardò la stazione ferroviaria di Manfredonia; 
alle 23:56, bom"""
list_text = text.split()
print(list_text)
solo_num = []
for cha in list_text:
  if cha.isdecimal():
    cha.strip()
    solo_num += [cha]
print(solo_num)

['decise', 'di', 'entrare', 'in', 'guerra', 'il', '24', 'maggio', '1915.', 'Il', 'comando', "dell'esercito", 'venne', 'affidato', 'al', 'generale', 'Luigi', 'Cadorna,', 'che', 'aveva', 'come', 'obiettivo', 'il', 'raggiungimento', 'di', 'Vienna', 'passando', 'per', 'Lubiana.[4]', "All'alba", 'del', '24', 'maggio', 'il', 'Regio', 'Esercito', 'sparò', 'il', 'primo', 'colpo', 'di', 'cannone', 'contro', 'le', 'postazioni', 'austro-ungariche', 'asserragliate', 'a', 'Cervignano', 'del', 'Friuli', 'che,', 'poche', 'ore', 'più', 'tardi,', 'divenne', 'la', 'prima', 'città', 'conquistata.', "All'alba", 'dello', 'stesso', 'giorno', 'la', 'flotta', 'austro-ungarica', 'bombardò', 'la', 'stazione', 'ferroviaria', 'di', 'Manfredonia;', 'alle', '23:56,', 'bom']
['24', '24']

In [ ]:
text =  """decise di entrare in guerra il 24 maggio 1915. Il Cadorna, per Lubiana.[4] All'alba del 24; alle 23:56, """
for item in text.split():
  dep = item.strip()
  print(dep)
  #if dep.isdecimal():
    
    #print(int (dep.strip()))

In [ ]:
#Questo mi da come risultato i numeri sciolti, ma non quelli che mi servono.
import re
text =  """decise di entrare in guerra il 24 maggio 1915. Il comando dell'esercito venne affidato al generale Luigi Cadorna, 
che aveva come obiettivo il raggiungimento di Vienna passando per Lubiana.[4] All'alba del 24 maggio il Regio Esercito sparò 
il primo colpo di cannone contro le postazioni austro-ungariche asserragliate a Cervignano del Friuli che, poche ore più tardi, 
divenne la prima città conquistata. All'alba dello stesso giorno la flotta austro-ungarica bombardò la stazione ferroviaria di Manfredonia; 
alle 23:56, bom"""
solo_n = []
text = re.sub("\D", "", text)
for item in text.split():
  

    solo_n += item
    print(solo_n)

#solo_n = []

['2', '4', '1', '9', '1', '5', '4', '2', '4', '2', '3', '5', '6']

In [1]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
sin_puntos = ''
def quitando_puntos(texto):
  punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  sin_puntos = ''
  for ch in texto:
    if ch not in punctuations:
      sin_puntos += ch
  return sin_puntos
print(quitando_puntos("""El escenario, si tenéis la amabilidad de seguirme, ahora había cambiado.
Las hojas seguían cayendo, pero ahora en Londres; .""".lower()))

el escenario si tenéis la amabilidad de seguirme ahora había cambiado
las hojas seguían cayendo pero ahora en londres

In [9]:
text =  """decise di entrare in guerra il 24 maggio 1915. Il comando dell'esercito venne affidato al generale Luigi Cadorna, 
che aveva come obiettivo il raggiungimento di Vienna passando per Lubiana.[4] All'alba del 24 maggio il Regio Esercito sparò 
il primo colpo di cannone contro le postazioni austro-ungariche asserragliate a Cervignano del Friuli che, poche ore più tardi, 
divenne la prima città conquistata. All'alba dello stesso giorno la flotta austro-ungarica bombardò la stazione ferroviaria di Manfredonia; 
alle 23:56, bom"""

texto_sin_puntos = quitando_puntos(text)

list_text = texto_sin_puntos.split()
print(list_text)
solo_num = []
for cha in list_text:
  if cha.isdecimal():
    cha.strip()
    solo_num += [cha]
print(solo_num)

['decise', 'di', 'entrare', 'in', 'guerra', 'il', '24', 'maggio', '1915', 'Il', 'comando', 'dellesercito', 'venne', 'affidato', 'al', 'generale', 'Luigi', 'Cadorna', 'che', 'aveva', 'come', 'obiettivo', 'il', 'raggiungimento', 'di', 'Vienna', 'passando', 'per', 'Lubiana4', 'Allalba', 'del', '24', 'maggio', 'il', 'Regio', 'Esercito', 'sparò', 'il', 'primo', 'colpo', 'di', 'cannone', 'contro', 'le', 'postazioni', 'austroungariche', 'asserragliate', 'a', 'Cervignano', 'del', 'Friuli', 'che', 'poche', 'ore', 'più', 'tardi', 'divenne', 'la', 'prima', 'città', 'conquistata', 'Allalba', 'dello', 'stesso', 'giorno', 'la', 'flotta', 'austroungarica', 'bombardò', 'la', 'stazione', 'ferroviaria', 'di', 'Manfredonia', 'alle', '2356', 'bom']
['24', '1915', '24', '2356']



---



---

---

Filtro per vocali

In [ ]:
#from: https://www.programiz.com/python-programming/methods/built-in/filter#:~:text=Join-,Python%20filter(),to%20be%20true%20or%20not.
# list of letters
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(letter in vowels):
        return True
    else:
        return False

filteredVowels = filter(filterVowels, letters)

print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

Escriba un programa que imprima los números del 1 al 100. Pero para los múltiplos de tres escriba “Fizz” en lugar del número y para los múltiplos de cinco escriba “Buzz”. Para números que son múltiplos de tres y cinco, imprima "FizzBuzz".

In [ ]:
numeros = list(range(1,101))
print(numeros)
for n in numeros:
  if n % 3 == 0 and n % 5 == 0:
    print('FizzBuzz')
  elif n % 3 == 0:
    print('Fizz')
  elif n % 5 == 0:
    print('Buzz')

 ### Additional external exercises

 - https://holypython.com/intermediate-python-exercises/exercise-16-python-list-comprehensions/

In [ ]:
dicc={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}

#Type your answer here.

lst=[item.upper() for item in dicc if dicc[item] < 5000]

print(lst)

['SEDAN', 'SUV', 'PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

Esercizio 010: Generatore di Istogrammi
Scrivi una funzione che, data una lista di numeri, fornisce in output un istogramma basato su questi numeri, usando asterischi per disegnarlo.

Data ad esempio la lista [3, 7, 9, 5], la funzione dovrà produrre questa sequenza:

***

*******

*********

*****

In [ ]:
lista = list(range(1,20))
for n in lista:
  print(n * '*')

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************